<! -- #region C#Code -->
@page "/experiences"
@using B3Consultants.Entities;
@using B3ConsultantsUI.Services;
@inject IExperienceService experienceService

<h3>Experiences</h3>
@if (Experiences == null)
{
	<h4> Loading ... </h4>
}
else
{
		<table class = "table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Experience level</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Experiences)
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.ExperienceLevel</td>
					</tr>
				}
			</tbody>
		</table>
}

@code {
	private IEnumerable<Experience> Experiences = null;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		Experiences = await experienceService.GetExperiences();
	}
}